<form action="/tickets" method="post">

  <label for="account">Account Name</label>
  <input type="text" name="accountname">

  <label for="email">Email</label>
  <input type="text" name="email">

  <label for="">Password</label>
  <input type="password" name="password">

  <button>Get Tickets</button>


</form>

