<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ticket Viewer</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <h2 id="header">Ticket Viewer</h2>
  <h4><a id="home-link" href="/">Home</a></h4>
  <%= yield %>

</body>
</html>