#header {
  margin-left: 1rem;
}

#home {
  margin-bottom: 1.5rem;
  margin-left:1rem ;
}

.index-form {
  width: 15%;
  margin-left:1rem ;
  margin-top: 1rem;
}

#get-ticket-btn {
  margin-top: 1rem;
}

